*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.full-page{
	height: 100%;
	width: 100%;
    background-position: center;
    background-image: url(pay.PNG);
    background-size: cover;
    position: absolute; 
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	padding-left: 50px;
	padding-right: 30px;
	padding-top: 50px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style: none;

}
nav ul li{
	display: inline-block;
	margin-right: 70px;

}
nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-family: sans-serif;
}
nav ul li button{
	font-size: 20px;
	color: white;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	s\font-family: sans-serif;
}
nav ul li button:hover{
	color: aqua;
}
nav ul li a:hover{
	color: yellow;
	text-decoration:overline;
	font-size: 30px;
}
a{
	text-decoration: none;
	color: palevioletred;
	font-size: 28px;
}








